{% extends 'layouts/base.html' %}
{% load static %}
{% block title %}경기장 정보{% endblock %}
{% block style %}
    <style>
        #wrap {display: flex}
        #nav { width: 300px;}
        #info>ul, #nav>ul { list-style: none; padding: 0; }
        #info>ul:first-child li { border: 1px solid blue; width: 300px; height: 50px; font-weight: bold; font-size: 20px; padding-top: 10px;}
        #info>ul:last-child li { border: 1px solid blue; width: 500px; height: 50px; font-weight: bold; font-size: 20px; padding-top: 10px;}
        #info { display: flex; justify-content: center }
        #main { text-align: center; border: 1px solid red; width: 1200px; background: white;}
        #map1 { width: 600px; margin: 0 auto;}
    </style>
{% endblock %}

{% block contents %}
<div id="wrap">
    <div id="nav" class="bg-dark">
        <nav class="navbar-dark bg-dark py-2 fs-5 fw-bold">
            <ul class="navbar-nav nav-fill">
                <li class="nav-item"><a class="nav-link" href="/teams/stadium/?based=서울">FC 서울</a></li>
                <li class="nav-item"><a class="nav-link" href="/teams/stadium/?based=수원삼성">수원 삼성 블루윙즈</a></li>
                <li class="nav-item"><a class="nav-link" href="/teams/stadium/?based=울산">울산 현대</a></li>
                <li class="nav-item"><a class="nav-link" href="/teams/stadium/?based=포항">포항 스틸러스</a></li>
                <li class="nav-item"><a class="nav-link" href="/teams/stadium/?based=제주">제주 유나이티드 FC</a></li>
                <li class="nav-item"><a class="nav-link" href="/teams/stadium/?based=수원">수원 FC</a></li>
                <li class="nav-item"><a class="nav-link" href="/teams/stadium/?based=전북">전북 현대 모터스</a></li>
                <li class="nav-item"><a class="nav-link" href="/teams/stadium/?based=인천">인천 유나이티드 FC</a></li>
                <li class="nav-item"><a class="nav-link" href="/teams/stadium/?based=대구">대구 FC</a></li>
                <li class="nav-item"><a class="nav-link" href="/teams/stadium/?based=강원">강원 FC</a></li>
                <li class="nav-item"><a class="nav-link" href="/teams/stadium/?based=김천">김천 상무 FC</a></li>
                <li class="nav-item"><a class="nav-link" href="/teams/stadium/?based=성남">성남 FC</a></li>
            </ul>
        </nav>
    </div>
    <div id="main">
        <img style="width: 600px; height: 400px; margin-bottom: 10px" src="/static/imgs/stadiums/{{ based }}.jfif">
        <div id="info">
            <ul>
                <li>경기장 이름</li>
                <li>개장일</li>
                <li>홈 구단</li>
                <li>수용인원</li>
                <li>위치</li>
            </ul>
            <ul>
                <li>{{ stname }}</li>
                <li>{{ opdate }}</li>
                <li>{{ hteam }}</li>
                <li>{{ accnum }}명</li>
                <li>{{ addr }}</li>
            </ul>

        </div>
        <div id="map1">
            <div id="daumRoughmapContainer{{ addrstmp }}" class="root_daum_roughmap root_daum_roughmap_landing"></div>
            <script charset="UTF-8" class="daum_roughmap_loader_script" src="https://ssl.daumcdn.net/dmaps/map_js_init/roughmapLoader.js"></script>
            <script charset="UTF-8">
                new daum.roughmap.Lander({
                    "timestamp" : "{{ addrstmp }}",
                    "key" : "{{ addrkey }}",
                    "mapWidth" : "600",
                    "mapHeight" : "300"
                }).render();
            </script>
        </div>
    </div>
</div>
{% endblock %}

{% block script %}

{% endblock %}