{% extends 'layouts/base.html' %}
{% load static %}

{% block title %}{% endblock %}

{% block contents %}
    <div>
    <h1 class="mt-4 text-center fw-bold">선수 기록/순위</h1>
    <h3 class="text-end text-dark opacity-50 mt-2">2022-07</h3>
    <div class="row mt-n2">
            <div class="col"></div>
            <div class="col-12 text-center">
                <table class="table table-striped table-hover fw-bold">
                    <thead class="thead">
                    <hr style="border:2px solid black">
                        <tr style="height: 60px; vertical-align: middle">
                            <th style="width: 4%">순위</th>
                            <th style="width: 6%">선수명</th>
                            <th style="width: 15%">팀</th>
                            <th style="width: 3%">득점</th>
                            <th style="width: 3%">도움</th>
                            <th style="width: 6%">공격포인트</th>
                            <th style="width: 3%" hidden>실점</th>
                            <th style="width: 4%" hidden>코너킥</th>
                            <th style="width: 3%" hidden>파울</th>
                            <th style="width: 3%" hidden>슈팅</th>
                            <th style="width: 6%" hidden>오프사이드</th>
                            <th style="width: 3%">경고</th>
                            <th style="width: 3%">퇴장</th>
                            <th style="width: 6%" hidden>무실점경기</th>
                            <th style="width: 3%" hidden>출장</th>
                            <th style="width: 3%" hidden>교체</th>
                            <th style="width: 7%" hidden>경기당 기록</th>
                        </tr>
                    </thead>

                    <tbody>
                    {% for p in pbs %}
                    <tr class="text-danger" href="/players/record/?name={{ p.name }}">
                        <td>{{ p.rank }}</td>
                        <td><a href="javascript:showrecord('{{ p.id }}')">{{ p.name }}</a></td>
                        <td><img src="/static/imgs/{{ p.team }}/reclogo.png">{{ p.team }}</td>
                        <td>{{ p.goal }}</td>
                        <td>{{ p.assist }}</td>
                        <td>{{ p.attackpoint }}</td>
                        <td hidden>{{ p.losspoint }}</td>
                        <td hidden>{{ p.cornerkick }}</td>
                        <td hidden>{{ p.foul }}</td>
                        <td hidden>{{ p.shoot }}</td>
                        <td hidden>{{ p.offside }}</td>
                        <td>{{ p.warning }}</td>
                        <td>{{ p.exit }}</td>
                        <td hidden>{{ p.norun }}</td>
                        <td hidden>{{ p.trip }}</td>
                        <td hidden>{{ p.replace }}</td>
                        <td hidden>{{ p.matchpoint }}</td>
                    </tr> <!-- 1위 -->
                    {% endfor %}
                    </tbody> <!-- 선수기록표 -->


                    <tfoot class="tfoot">
                        <tr><td colspan="6" class="d-none"></td></tr>
                    </tfoot>
                </table>
                <small style="float:right; color:grey">(2022.07.07 기준)</small>
            </div>
            <div class="col"></div>
        </div><!-- 게시판 -->




</div> <!-- main -->

<div id="playermodal" class="fade modal" data-bs-backdrop="static">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
            <h5 class="modal-title">플레이어 정보</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <table>
                    <tr>
                        <th>순위</th>
                        <td id="rank"></td>
                    </tr>
                    <tr>
                        <th>선수명</th>
                        <td id="name"></td>
                    </tr>
                    <tr>
                        <th>팀</th>
                        <td id="team"><img src="/static/imgs/{{ p.team }}/reclogo.png">{{ p.team }}</td>
                    </tr>
                    <tr>
                        <th>득점</th>
                        <td id="goal">{{ goal }}</td>
                    </tr>
                    <tr>
                        <th>도움</th>
                        <td id="assist"></td>
                    </tr>
                    <tr>
                        <th>공격포인트</th>
                        <td id="attckpoint">{{ p.attackpoint }}</td>
                    </tr>
                    <tr>
                        <th>실점</th>
                        <td id="losspoint">{{ p.losspoint }}</td>
                    </tr>
                    <tr>
                        <th>코너킥</th>
                        <td id="cornerkick">{{ p.cornerkick }}</td>
                    </tr>
                    <tr>
                        <th>파울</th>
                        <td id="foul">{{ p.foul }}</td>
                    </tr>
                    <tr>
                        <th>슈팅</th>
                        <td id="shoot">{{ p.shoot }}</td>
                    </tr>
                    <tr>
                        <th>오프사이드</th>
                        <td id="offside">{{ p.offside }}</td>
                    </tr>
                    <tr>
                        <th>경고</th>
                        <td id="warning">{{ p.warning }}</td>
                    </tr>
                    <tr>
                        <th>퇴장</th>
                        <td id="exit">{{ p.exit }}</td>
                    </tr>
                    <tr>
                        <th>무실점경기</th>
                        <td id="norun">{{ p.norun }}</td>
                    </tr>
                    <tr>
                        <th>출장</th>
                        <td id="trip">{{ p.trip }}</td>
                    </tr>
                    <tr>
                        <th>교체</th>
                        <td id="replace">{{ p.replace }}</td>
                    </tr>
                    <tr>
                        <th>경기당 기록</th>
                        <td id="matchpoint">{{ p.matchpoint }}</td>
                    </tr>
                </table>

            </div>
            <div class="modal-footer">
            </div>
        </div>
    </div>
</div>


{% endblock %}


{% block script %}
    <script>
        {#document.getElementById('rank').textContent = document.getElementById('rank{{ p.rank }}').value#}
        {#document.getElementById('name').textContent = document.getElementById('name1').value#}
        {#document.getElementById('team').textContent = document.getElementById('team1').value#}
        {#document.getElementById('goal').textContent = document.getElementById('goal1').value#}
        {#document.getElementById('assist').textContent = document.getElementById('assist1').value#}
        {#document.getElementById('attckpoint').textContent = document.getElementById('attckpoint1').value#}
        {#document.getElementById('losspoint').textContent = document.getElementById('losspoint1').value#}
        {#document.getElementById('cornerkick').textContent = document.getElementById('cornerkick1').value#}
        {#document.getElementById('foul').textContent = document.getElementById('foul1').value#}
        {#document.getElementById('shoot').textContent = document.getElementById('shoot1').value#}
        {#document.getElementById('offside').textContent = document.getElementById('offside1').value#}
        {#document.getElementById('warning').textContent = document.getElementById('warning1').value#}
        {#document.getElementById('exit').textContent = document.getElementById('exit1').value#}
        {#document.getElementById('norun').textContent = document.getElementById('norun1').value#}
        {#document.getElementById('trip').textContent = document.getElementById('trip1').value#}
        {#document.getElementById('replace').textContent = document.getElementById('replace1').value#}
        {#document.getElementById('matchpoint').textContent = document.getElementById('matchpoint1').value#}

        function showrecord(id){
            td =  document.querySelector(`table > tbody > tr:nth-child(${id}) > td:nth-child(1)`);
            td1 =  document.querySelector(`table > tbody > tr:nth-child(${id}) > td:nth-child(2)`);
            alert(td.innerHTML)
            alert(td1.innerHTML.split('>')[1])
            {#body > div.container > div:nth-child(4) > div > div.col-12.text-center > table > tbody > tr:nth-child(1) > td.point#}
            {#body > div.container > div:nth-child(4) > div > div.col-12.text-center > table > tbody > tr:nth-child(1) > td:nth-child(5)#}
            {#alert(td.innerHTML);#}
            rank =  document.querySelector(`#rank`);
            name =  document.querySelector(`#name`);
            rank.innerHTML = td.innerHTML.split('<')[0];
            name.innerHTML = td1.innerHTML.split('>')[1];

            const myModal = new bootstrap.Modal(document.getElementById('playermodal'))
            myModal.show();

        }

    </script>
{% endblock %}